@model UpdateUser
@{ Layout = "~/Views/Shared/_LayoutDashboard.cshtml"; }

<form method="post" asp-action="Edit">
    <div class="border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info">Edit Blog</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Gmail"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Gmail" class="form-control" />
                        <span asp-validation-for="Gmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Password" class="form-control"></textarea>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="UserId"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="UserId" class="form-control"></textarea>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>




                <div class="row form-group">
                    <div class="col">
                        <input type="submit" value="Update" class="btn btn-info" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>